:root {
    --azul_cielo: #a6e5e6; 
    --beige: #FAEED2;
    --coral: #eba972;
    --azul_claro: #0098B1; 
    --azul_fuerte:#027B8D;
}

.navbar,#carrito,#login {
    background-color: #a6e5e6 !important; 
}

body{
    background-color: #FAEED2;
    height: 100%;
    min-height: 100%;
}

.login-icon {
    display: none;
}

.titillium-web-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: small;
}

#grupo-buscador {
    width: 20%;
}

#buscador {
    border-radius: 10px 0 0 10px;
    width: 100%;
    height: 30px;
    font-size: small;
}

#boton-lupa {
    border: 0.5px solid rgb(160, 160, 160) !important;
    border-radius: 0 10px 10px 0;
    font-size: small;
    padding: 0;
    width: 35px;
    height: 30px;
    background-color: whitesmoke;
}

#boton-lupa:hover {
    background-color: rgb(235, 235, 235) !important;
}

.nav-item:hover > a {
    color: var(--azul_fuerte) !important;
}

#logo-colapsado{
    margin-right: auto ;
}

footer {
    background-color: var(--azul_fuerte);
    width: 100%;
}
footer .row {
    text-align: left;
}
.footer-navigation{
    
    list-style: none;
}
.enlaces a{
    display: block;
    text-decoration: none;
    color: aliceblue;
}

.iconos-footer{
    width: 20px;
    margin-right: 10px;
}

.copyright p{
    color: aliceblue;
}

main {
    height: auto;
}

.footer-navigation a {
    color: white;
    text-decoration: none;
}

footer {
    position: absolute;
    top: 80%;
    left: 0;
}

main {
    height: 800px;
}