body {
    min-height: 100vh;
    /* background: linear-gradient(var(--beige), rgb(230, 118, 190)); */
    background: var(--beige) !important;
}

.fa-solid {
    color: var(--darkturquoise);
}

.row {
    width: 90%;
}

.cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}

#root {
    width: 60%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;


}

.backpackbody {
    display: flex;
    justify-content: center;
}

.sidebar {
    width: 90%;
    border-radius: 5px;
    background-color: #a6e5e6;
    margin-left: 20px;
    padding: 15px;
    text-align: center;

}

.head {
    background-color: #027B8D;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: #faeed2;
    display: flex;
    align-items: center;
}

.foot {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #4d3b21;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #027B8D;
    border-radius: 5px;
    padding: 15px;
    height: auto;
    margin-bottom: 30px;
}

.img-box {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

.bottom {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    justify-content: space-between;
    height: 110px;
}

h2 {
    font-size: 12px;
    font-weight: bold;
    color: #4d3b21;
}

.bottom button {
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #027B8D;
    padding: 7px 25px;
    cursor: pointer;
    font-size: 12px;
    color: #faeed2;
}

.bottom button:hover {
    background-color: #a6e5e6;
}

.cart p {
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: #027B8D;
    color: #faeed2;
}

.cart-item,
.cart-item2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #faeed2;
    font-size: 12px;
    border-bottom: 1px solid #a6e5e6;
    border-radius: 3px;
    margin: 10px 10px;
}

.cart-item2,
.borderless {
    border-bottom: none;
}

.row-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #027B8D;
    display: flex;
    align-items: center;

    justify-content: center;
}

.rowimg {
    max-width: 47px;
    max-height: 47px;
    border-radius: 50%;
}

.fa-trash:hover {
    cursor: pointer;
    color: #4d3b21;
}

.progress-bar-1 {
    width: 0%;
    background-color: var(--darkturquoise) !important;
    animation: 1s forwards ease-out increase-one-third;
}

.progress-bar-2 {
    width: 33.33%;
    background-color: var(--darkturquoise) !important;
    animation: 1s forwards ease-out increase-two-thirds;
}

.link {
    display: inline;
}

.link a,
.conditions {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.link a:hover,
.conditions:hover {
    color: #027B8D;
    cursor: pointer;
}

.boton {
    border: solid 2px #027B8D !important;
    color: #027B8D !important;
}

.boton:hover,
.boton:active {
    color: white !important;
    background-color: #027B8D !important;
    border: solid 1px #027B8D !important;
}

.mochila0 {
    height: 40px;
}

.mochila1 {
    position: absolute;
    left: 10%;
}

.mochila2 {
    position: absolute;
    left: 30%;
}

.mochila3 {
    position: absolute;
    left: 70%;
}

.mochila4 {
    position: absolute;
    left: 90%;
}


@media (max-width:600px) {

    .mochila1,
    .rowimg,
    .row-img,
    .disapered {
        
        display: none;
    }

    .mochila2 {
        position: absolute;
        left: 5%;
    }
    
    .mochila3 {
        position: absolute;
        left:65%;
    }
    
    .mochila4 {
        position: absolute;
        left: 93%;
    }
}




@keyframes increase-two-thirds {
    to {
        width: 66.66%;
    }
}

@keyframes increase-one-third {
    to {
        width: 33.33%;
    }
}

@keyframes decrease-one-third {
    from {
        width: 66.66%;
    }

    to {
        width: 33.33%;
    }
}