:root {
    --skyblue: #A6E5E6; 
    --beige: #FAEED2;
    --coral: #EBA972;
    --turquoise: #0098B1; 
    --darkturquoise:#027B8D;
    --brown: #4D3826;
}

* {
    margin: 0;
    padding: 0;
    /* color: var(--brown); */
}

.titillium-web-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: small;
}

.namdhinggo-regular {
    font-family: "Namdhinggo", serif;
    font-weight: 400;
    font-style: normal;
}