
.borderform{
    border-width: 0.5em 1em;
    border-color: #0098B1;
    
}

.backgroundform{
    background-color: white;
}

.postit{
    font: size 50%;;
}

.buttonform{
    background-color: #DCEDC0;
}

.title-form{
    font-family: "Namdhinggo", serif;
    font-weight: 400;
    font-style: normal;
    color:#0098B1;
    font-size: calc(1.375rem + 1.5vw);
    display:block;
}

#register-form{
    max-width: 90%;
    padding: 3rem;
    border: 2px solid #0Af;
    border-radius: 2rem;
    background-color: #fff;
}

