.progress-bar {
    width: 33.33%;
    background-color: var(--skyblue) !important;
    animation: 1s forwards ease-out increase;
}

@keyframes increase {
    from {
        width: 33.33%;
    }
    to {
        width: 66.66%;
    }
}