html{
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *::before, *:after{
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  position: relative;
  height: 100%;
  
}
main{
  margin: 0 1rem 4rem 1rem;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

.swiper {
  width: 25rem;
  height: 30rem;
  padding: 0;
  margin-top: 2rem;
}

.swiper-slide{
  
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
 
}

.uno{
  background-image: url("/assets/img/uli.jpeg");
}

.dos{
  background-image: url("/assets/img/ariana.jpeg");
}

.tres{
  background-image: url("/assets/img/eric.jpeg");
}
.cuatro{
  background-image: url("/assets/img/ezquivel.jpg");
}

.cinco{
  background-image: url("/assets/img/jesus.jpeg");
}

.seis{
  background-image: url("/assets/img/jetzel.jpeg");
}
.siete{
  background-image: url("/assets/img/miguel.jpeg");
}

.ocho{
  background-image: url("/assets/img/penny.jpeg");
}

.github{
  position: absolute;
  top: 27rem;
  left: 0rem;
  width: 3rem !important;
  height: 3rem !important;
  
}

.linkedin{
  position: absolute;
  top: 27rem;
  left: 3rem;
  width: 3rem !important;
  height: 3rem !important;
  
}

/* filosofia */
.filosofia{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}


.mision{
  grid-column: 1/3;
  background-color: #fff;
  border: 2rem solid var(--colorGraficos);
  padding: 1rem;
  border-radius: 3rem;

}
.vision{
  grid-column: 3/5;
  background-color: #fff;
  border: 2rem solid var(--colorGraficos);
  padding: 1rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.valores{
  grid-column: 2/4;
  background-color: #fff;
  border: 2rem solid var(--colorGraficos);
  padding: 1rem;
  border-radius: 3rem;
  
}
.valores ul{
  list-style:none;
}

.aboutus-container{
  background-color: #fff;
  padding: 3rem;
  border: 3rem solid var(--colorGraficos);
  border-radius: 3rem;
  display: flex;
  width: 75%;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 2rem;
}

.aboutus-text{
  flex: 1;
  margin-right: 1.5rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media(max-width:1200px){
  .aboutus-container{
    width: 100%;
  }

}

@media(max-width: 840px){
  .aboutus-container{
    flex-direction: column;
  }
}



@media(max-width:800px){
  
  
  .mision{
    grid-column: 1/5;
  }
  .vision{
    grid-column: 1/5;
  }
  .valores{
    grid-column: 1/5;
  }
}



