:root{
    --colorPrincipal: #0098B1;
    --colorSecundario: #027B8D;
    --colorTexto: #4D3826;
    --colorFondo: #FAEED2;
    --colorComplementario: #EBA972;
    --colorGraficos: #a6e5e6;

}

.circulo{
    border-radius: 1%;
    width: 15rem;
    height: 15rem;
    background-color: var(--colorGraficos);
}   

#target{
    position: absolute;
    top: -5rem;
    left: 37rem;

}

.vision{
    background-color: #a6e5e6 !important;
}
